<form action = 'encrypt'>
	<input type='text' name='Message' />
	<input type='number' name='Shift' />
	<input type='submit' value='Encrypt' />
</form>
<p></p>

<h3>Encrypted message:</h3>
<p><%= encrypted_message %></p>